@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: B5C99A;
    color: #B5c99A;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #718355;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 20px;
    
}

.logo{
    font-size: 25px;
    color: #E9F5DB;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 100px;
    transition: .3s;
    
}

.navbar a:hover {
    color:antiquewhite
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    bottom: 700px;
    position: absolute;
    color: #718355;
    left: 165px;
    
}

.home-content h3{
    font-size: 50px;
    font-weight: 700;
    bottom: 100px;  
    position: absolute;
    color:#718355;
    right: 180px;
}

.home-content .para{
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
    max-width: 300px;
    top: 270px;
    position: absolute;
    left: 320px;
    color: #718355;
}

.home-content .graph{
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
    max-width: 300px;
    position: absolute;
    right: 250px;
    bottom: 150px;
    color: #718355;
}

.home-content .socials{
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
.socials a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #718355;
    border-radius: 100px;
    color: #718355;
    text-decoration: none;
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 50px;
    left: 10px;
}

.socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E9F5DB;
    z-index: -1;
    transition: .5s;
    border-radius: 100px;
}

.shap .nsocials{
    position: absolute;
    left: 120px;
    bottom: 55px;
    justify-content: space-between;
}

.socials a:hover{
    color: rgb(0, 0, 0);
}
.socials a:hover::before{
    width: 100%;

}

.image{
    border-radius: 5%;


}
.image .jr{
    position: absolute;
    border-radius: 5%;
    box-shadow: 0 0 50px  #718355;
    transition: 0.4s ease-in-out;
    right: 660px;
    border: solid #718355;
    height: 500px;
    width: 500px;
    top: 260px;

}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-color: #87986A;
    color: rgb(255, 255, 255);

}

.about .imgme .im{
    position: absolute;
    top: 1250px;
    border-radius: 20%;
    box-shadow: 0 0 50px aqua;
}
.about .me{
    
    position: absolute;
    top: 1050px;
    font-size: 100px;
    right: 700px;
    
}

.about .details{
    top: 1250px;
    position: absolute;
    left: 560px;
}

.about .sh{
    height: 500px;
    width: 300px;
    border-style: solid black;
    box-shadow: 0 0 50px  #718355;
    border: solid;
    position: absolute;
    padding: 30px;
    border-radius: 5%;
    background-color: #CFE1B9;
    color: #718355;
}

.about .sh .fb{
    position: relative;
}

.about .shap{
    height: 500px;
    width: 300px;
    box-shadow: 0 0 50px  #718355;
    left: 500px;
    border: solid;
    position: absolute;
    padding: 30px;
    border-radius: 5%;
    background-color: #CFE1B9;
    color: #718355;
}

.hobbies{
    height: 110vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: absolute;
    background-color: #B5c99A;

}

.hobbies .h2{
    position: absolute;
    top: 90px;
    font-size: 80px;
    max-width: 120px;
    color: #718355;
}

.hobbies .hobbs{
    position: absolute;
    left: 350px;
    top: 230px;
    color: #718355;
}

.hobbies .gmg{
    position: absolute;
    left: 200px;
}
.hobbies .wa{
    position: absolute;
    left: 635px;
}

.hobbies .msc{
    position: absolute;
    left: 635px;
    top: 290px;
}

.hobbies .pwp{
    position: absolute;
    left: 1070px;
}

.hobbies .mo{
    width: 20vw;


}

.hobbies .gm{
    width: 20vw;


}

.hobbies .w{
    width: 20vw;


}

.hobbies .vy{
    width: 20vw;


}

.hobbies .ca{
    width: 10vw;

}
.hobbies .cat{
    width: 10vw;

}